

<div class="container-lg aboutPg">
    <h1>About 40kCompare</h1>
    <p>40kCompare is based on the popular table top board game "Warhammer 40K", where players take turns moving plastic models and rolling dice to achieve victory.
         40kCompare is designed to simulate the dice rolls based on the various rules in the game. In singular mode the application will display the results of the simulation and 
         in compare mode the application will compare the two simulated attack profiles together and score the winning profile for each instance of the simulation. </p> 
</div>