<div class="jumbotron">
  <h1 class="display">Ceaseless Conflict Requires Endless Simulations</h1>
  <p class="leader">Speed up your table top games by simulating your dice rolls!</p>
  <hr class="my-4">
  <br><br>
  <a class="btn-hero btn-success" href="/dicesim" role="button">Start Simulating Now!</a>
</div>
